/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

@keyframes spinLoad {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button-loading svg {
  display: none;
  font-size: 1.5rem;
  animation: 1s linear 0s infinite paused spinLoad
}
.button-loading.loading svg {
  display: block;
  animation-play-state: running;
}

.NavMenu {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .1s ease;
  opacity: 0;
  pointer-events: none;
}

.NavMenu.active {
  opacity: 1;
  pointer-events: all;
  max-height: 600px;
}

.masked {
  width: fit-content;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 60%, rgba(0,0,0,.6) 100%);
}


@keyframes glow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 20%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.heroGlow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background: radial-gradient(400px at center,rgba(152, 222, 253,1), rgba(43, 89, 109,1) 35%, rgba(0,0,0,0) 70%);
  background-size: 100%;
  opacity: .2;
  z-index: -1;
}

.animatedBody {
  background: linear-gradient(180deg, #000C11 0%, #023d58 100%);
  background-size: 200% 200%;
  animation: glow 5s infinite running cubic-bezier(0.95, 0.05, 0.795, 0.035);
}


.gradient-whitespace {
  @apply bg-gradient-to-tl from-gray-100 to-gray-300;
}

.gradient-whitespace-bright {
  @apply bg-gradient-to-tl from-gray-100 to-gray-200;
}


.customScrollBar::-webkit-scrollbar {
  width: 4px;
}

.customScrollBar::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
  border-radius: 6px;
}

.maskedListVert {
  mask-image: linear-gradient(
    to bottom,
    transparent 0,
    rgba(0, 0, 0, 1.0) 20px,
    rgba(0,0,0,1) calc(100% - 20px),
    transparent 100%
  );
}
