/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  background: linear-gradient(180deg, #000C11 0%, #023d58 100%);
  background-size: 200% 200%;
  background-position: 50% 15%;
}

@keyframes spinLoad {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button-loading svg {
  display: none;
  font-size: 1.5rem;
  animation: 1s linear 0s infinite paused spinLoad
}
.button-loading.loading svg {
  display: block;
  animation-play-state: running;
}

.NavMenu {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .1s ease;
  opacity: 0;
  pointer-events: none;
}

.NavMenu.active {
  opacity: 1;
  pointer-events: all;
  max-height: 600px;
}

.masked {
  width: fit-content;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 60%, rgba(0,0,0,.6) 100%);
}


@keyframes glow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 20%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.heroGlow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background: radial-gradient(400px at center,rgba(152, 222, 253,1), rgba(43, 89, 109,1) 35%, rgba(0,0,0,0) 70%);
  background-size: 100%;
  opacity: .2;
  z-index: -1;
}

/* clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); */

svg {
  shape-rendering: auto;
}

.mask-folder {
  mask: url('/folder.svg');
}

.animatedBody {
  animation: glow 5s infinite running cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.text-gradient-light {
 @apply bg-gradient-to-r from-gray-300 to-waveLight-500 bg-clip-text;
}

.popup-bg {
  @apply bg-wave-900/30;
  @apply gradient-brighten backdrop-blur-md;
}

.gradient-brighten {
  @apply bg-gradient-to-br from-waveLight-400/10 to-wave-900/10;
}

.gradient-brighten-cta {
  @apply bg-gradient-to-br from-waveLight-500/30 to-wave-800/30;
}

.gradient-whitespace {
  @apply bg-gradient-to-tl from-gray-100 to-gray-300;
}

.gradient-whitespace-light {
  @apply bg-gradient-to-tl from-gray-100 to-gray-200;
}

.gradient-whitespace-dark {
  @apply bg-gradient-to-tl from-wave-500 to-wave-900;
}


.customScrollBar::-webkit-scrollbar {
  width: 4px;
}

.customScrollBar::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
  border-radius: 6px;
}

.maskedListVert {
  mask-image: linear-gradient(
    to bottom,
    transparent 0,
    rgba(0, 0, 0, 1.0) 20px,
    rgba(0,0,0,1) calc(100% - 20px),
    transparent 100%
  );
}



/* editor */
@keyframes loading {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: 1000px;
  }
}

.loader-group {
  opacity: 0;
  transition: all .15s linear;
}

.loader-group.active {
  opacity: 1;
}

.loader {
  @apply bg-waveLight-500/20;
  @apply backdrop-blur-sm;

}

.loader > div {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(5,7,8,0) 40%, rgba(150,150,150, 0.15) 55%, rgba(150,150,150, 0.15) 66%, rgba(5,7,8,0) 82%);
  background-size: 1000px 70px;
  /* border: 1px dashed purple; */
  animation: loading 2s linear 0s infinite forwards;
}

.saving-notif {
  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) ;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) ;
  }
}

.saving-notif .circ {
  animation: spin 1s forwards infinite running linear;
  transition: scale .15s linear, opacity .15s linear;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  opacity: .8;
}

.saving-notif .tick {
  scale: 0.2;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  transform-origin: center;
  opacity: 0;
  @apply text-sky-800;
}

.saving-notif.saved .circ {
  scale: 0.2;
  opacity: 0;
}

.saving-notif.saved .tick {
  scale: 1;
  opacity: .8;
}
